.css-style {
    height: 400px;
}

.slide-title {
    font-size: 40px;
    font-weight: bolder;
    color: black
}

.slide-title1 {
    font-size: 40px;
    font-weight: bolder;
    color: black
}

.slide-title2 {
    font-size: 40px;
    font-weight: bolder;
    color: black
}