.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 30px;
    background-color: darkslategray;
}

.nav-item {
    display: flex;
}

.nav-link {
    margin-left: 20px;
}