                            .navigation-bar {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 7px 30px;
                                background-color: darkslategray;
                            }
                            
                            .nav-item {
                                display: flex;
                            }
                            
                            .nav-item a {
                                color: wheat;
                                font-size: 20px;
                                font-weight: bold;
                                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                            }
                            
                            .nav-link {
                                margin-left: 20px;
                            }
                            
                            .quiz-name {
                                color: crimson;
                                font-weight: 900;
                                font-size: 40px;
                            }
                            
                            .logo-m {
                                color: rgb(252, 4, 53);
                                font-weight: 900;
                                font-size: 40px;
                            }
                            
                            @media screen and (max-width: 760px) {
                                .nav-item {
                                    display: flex;
                                    flex-direction: column;
                                }
                                .navigation-bar {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: space-between;
                                    padding: 7px 30px;
                                }
                            }